<!DOCTYPE html>
<html>
<head>
  <title>ChatPractical</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Bootstrap Custom CSS -->
  <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.css" rel="stylesheet">
  <!-- Bootstrap Custom Fonts -->
  <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="services.html">FB</a>
          </li>
          <li>
            <a href="contact.html">VK</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">NSA <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="portfolio-1-col.html">1 Column Portfolio</a>
              </li>
              <li>
                <a href="portfolio-2-col.html">2 Column Portfolio</a>
              </li>
              <li>
                <a href="portfolio-3-col.html">3 Column Portfolio</a>
              </li>
              <li>
                <a href="portfolio-4-col.html">4 Column Portfolio</a>
              </li>
              <li>
                <a href="portfolio-item.html">Single Portfolio Item</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mossad <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="blog-home-1.html">Blog Home 1</a>
              </li>
              <li>
                <a href="blog-home-2.html">Blog Home 2</a>
              </li>
              <li>
                <a href="blog-post.html">Blog Post</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tor, I2P and other <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="full-width.html">Full Width Page</a>
              </li>
              <li>
                <a href="sidebar.html">Sidebar Page</a>
              </li>
              <li>
                <a href="faq.html">FAQ</a>
              </li>
              <li>
                <a href="404.html">404</a>
              </li>
              <li>
                <a href="pricing.html">Pricing Table</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <%= yield %>

  <!-- Footer -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
        <div class="copyright text-muted" style="display:inline">Free of Copyright 2017</div>
        <div class="copyleft text-muted" style="display:inline-block; transform: rotate(180deg)">©</div>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
